@model Assignment1.Models.UserModel

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>
<hr />
<p class="alert-info">@ViewBag.ValidationMessage</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp" name="frmSignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <div>
                    <select class="form-control" asp-for="Country" id="Country"></select><br />
                </div>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <div>
                    <select class="form-control" asp-for="City" id="City"></select><br />
                </div>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                <input type="radio" asp-for="Gender" value="Male" id="Male" /> Male
                <input type="radio" asp-for="Gender" value="Female" id="Female" /> Female
                <input type="radio" asp-for="Gender" value="Unspecified" id="Unspecified" /> Unspecified
                <br /> <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcceptTerms" />
                    <label asp-for="AcceptTerms" class="control-label"></label>
                </label>
                <span asp-validation-for="AcceptTerms" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="SignUp" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@



@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/signup.js" asp-append-version="true"></script>
}

